.signup {
  &_background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: radial-gradient(
        circle at 0% 0%,
        rgba(103, 232, 249) -60%,
        rgb(4, 13, 33, 0.5) 20%
      ),
      radial-gradient(
        circle at 100% 100%,
        #fde047 -20%,
        rgb(4, 13, 33, 0.5) 20%
      ),
      radial-gradient(circle at 100% 0%, #a78bfa, rgb(4, 13, 33, 0.5) 10%);
    &-start {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      background-image: radial-gradient(
          2px 2px at 50px 200px,
          #eee,
          rgba(0, 0, 0, 0)
        ),
        radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(3px 4px at 120px 40px, #ddd, rgba(0, 0, 0, 0));
      background-repeat: repeat;
      background-size: 250px 250px;
      opacity: 0;
      animation: zoom 10s infinite;
      &:nth-child(1) {
        animation-delay: 0s;
        background-position: 30% 90%;
      }
      &:nth-child(2) {
        animation-delay: 2s;
        background-position: 50% 10%;
      }
      &:nth-child(3) {
        animation-delay: 4s;
        background-position: 90% 90%;
      }
      &:nth-child(4) {
        animation-delay: 6s;
        background-position: 10% 10%;
      }
      &:nth-child(5) {
        animation-delay: 8s;
        background-position: 90% 10%;
      }
      &:nth-child(6) {
        animation-delay: 10s;
        background-position: 50% 90%;
      }
    }
  }
  &_form {
    #register {
      &_email,
      &_username,
      &_passwd,
      &_comfirmpasswd {
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          -webkit-text-fill-color: rgb(107 114 128) !important;
          box-shadow: inset 0 0 0 32px rgb(31 41 55) !important;
        }
      }
    }
  }
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    transform: rotate(5deg);
    animation-timing-function: ease-in;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
    transform: scale(2.2);
  }
}
